*{
    background-color: #f0f8ff;
}
.main{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
    
}
.card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    margin: auto;
    text-align: center;
}
.city{
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 40vw;
    height: 8vh;
    border-radius: 50px;
    padding-left: 10px;
}

.btn{
    width: 10vw;
    height: 8vh;
    border-radius: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 75px;
    margin-left: 10px;
}