nav{
    border: 2px solid black;
    background-color: black;
    width:100%;
    top:0%;
    color:white;
    position: fixed;
    width:696px
}
#home{
    margin:100px;
    font-size: 26px;
   
}
a{
    
    margin: 20px;
    color:aliceblue;
     text-decoration: none;
}
.main{
    width: 700px;
    margin:auto;
    border: 2px solid blanchedalmond;
}

.p{
    border: 2px solid yellow;
    width:60px;
    background-color: rgb(195, 195, 250);
    position: sticky;
    /* left: 131px; */
    top: 8%;
    margin-left: -10%;
        /* position: fixed;
    top: 7%;
    margin: -9%; */
}
.content{
    /* margin-top:150px; */
    
}
